<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/c08d71d1c1.js" crossorigin="anonymous"></script>
  </head>
  <body class="box-login-conteiner">
    <div class="box-login">
        <div class="left-login">
          <h2>Bienvenidos!!</h2>
          <p>Para unirte a nuestra comunidad por favor Inicia Sesion con tus datos</p>
          <img src="/img/undraw_mobile_encryption_re_yw3o.svg" alt="">
        </div>
        <form class="form-login">
            <h2>MERCADO LIEBRE | <span class="logo">Ingresar</span></h2>
            <label >¿No tienes una cuenta? <a href="views/register.html">Registrate</a></label>
            <div class="input-box">
                <input type="text" required>
                <label>Usuario o email</label>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
                <input type="password" required>
                <label>Contraseña</label>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="items">
                <div class="left">
                    <input type="checkbox" id="check">
                    <span>Recuérdame</span>
                </div>
            </div>
            <div class="btn">
              <button type="submit">Iniciar sesión</button>
            </div>
            <div class="other-links">
              <p>O puedes ingresar con:</p>
              <div class="social">
                    <a href="#"><i class="fa-brands fa-google" style="color: #f80000;"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook" style="color: blue;"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope" style="color: #73ff00;"></i></a>
                    <a href="#"><i class="fa-solid fa-phone" style="color: #000000;"></i></a>
               </div> 
            </div>      
 </body>
</html>
