/*-------Estilos Generales--------*/
@import url(normalize.css);
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Popins', sans-serif;
}

:root {
  ---Gold:#FFD700;	
  ---Yellow:#FFFF00;
  ---PaleGoldenrod:	#EEE8AA;
  ---Khaki:#F0E68C;	
  ---DarkKhaki:#BDB76B;
  --black:#000000;   
}
/*-------- Estilos del Encabezado------- */
.main-header{
 background-color: gold;
 padding: 20px;
 z-index: 100px;
 top: 0%;
}
.main-navbar {
  position: sticky;
  top: 0;
}
.logo {
  width: 200px;
}
.hambuguer-button {
  background-color: blue;
  color: aliceblue;
  display:block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;

}
.copy-header {
  font-weight: 400;
  text-align: center;
}
.main-navbar {
  display: none;
}
.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-navbar a {
  text-decoration: none;
  color: #000;
 display: inline-block;
} 
.create-form {
  padding: 20px 15px;
}
.control-formulario {
  margin-bottom: 15px;
}
.control-formulario label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}
.control {
  width: 100%;
  padding: 8px;
}
.boton-formulario-reset{
  background-color: red;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}
.boton-formulario-sumit{
  background-color: rgb(86, 245, 86);
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px ;
}
/*------carrucel---*/
.banner {
  width: 100%;
}
.banner img{
  width: 100%;
}

/*----Form Register---*/
.wave {
  position: fixed; 
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin : 45px;
}

.formulario  {
  font-family: Arial, sans-serif;
  margin: 15px;
  padding: 30px;
  display: grid;
  justify-content: end;
  min-height: 100vh;

}

.wave {
  width: 500px;
}
.avatar {
  width: 100px;

}

.formulario-conteiner {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  max-width: 100%;
}

.formulario h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.form-group button.secondary {
  background-color: #ccc;
  color: #000;
  margin-left: 10px;
}

.form-group button:hover {
  background-color: #0056b3;
}
/*----productos*/
.content-product img {
  max-width: 100%;
}
.product{
  border-top: 1px solid #ebebeb;
  position: relative;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.main-product i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  color: #39b54a;
  position: absolute;
  right: 20px;
  
}
article div.detalle-producto {
  border-top: 1px solid #ebebeb;
  position: relative;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.content-product{
  margin: 10px;
  padding: 15px;
}
.content-product {
  border: 1px solid #ebebeb;
  padding: 15px;
}
.content-product :hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%); /*transladando de manera vertical*/
}
.price{
  font-size: 18px;
  width: 30%;
  border: 1px solid red ;
}
.discount{
  font-size: 16px;
  color:#39b54a;
  width: 70%;
}
.description{
  font-size: 16px;
}


/*----productos*/
.caja2_2 h3{
  align-items: center;

}
.caja2_2 {
  margin-bottom: 20px;
  border-top: 1px solid #ebebeb;
  position: relative;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
}

.card {
  border-radius:0;
  margin-left: 0;
  background-color: #fff;
  flex: 1;
  transition: .3s all ease;
}
.card:hover {
  flex: 2;
}
/*-----Footer------*/

footer {
  color: #fff;
  text-align: start;
  display: flex;
  background-color: #00b7ff; /* Cambia el color de fondo */
  padding: 15px; /* Reduce el relleno */
  text-align: left; /* Cambia la alineación del texto */
}


footer i {
  color: #000000;
}
footer p {
  margin-bottom: 20px;
  font-size: 15px;
}

/*Longin estilos del inicio de seccion*/
/* Estilos para el contenedor principal */
.box-login-conteiner {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #ffee07;

}
.box-login {
  position: relative;
  background: #fff;
  padding: 50px 15px;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  animation: show 1s;
}

/* Estilos para la imagen en la parte izquierda */
.left-login {

  margin: auto;
}
.left-login img {
  width: 30%;
  text-align: center;
  animation: slide 1s;
}
.left-login h2 {
  text-align: center;
}
.left-login p {
  text-align: center;
}

/* Estilos para el formulario en la parte derecha */
.form-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  animation: slide 1.1s;
}
.form-login a{
  color: #007bff;
}

/* Estilos para los campos del formulario */
.input-box {
  position: relative;
  margin-top: 20px;
}

.input-box > input {
  width: 100%;
  height: 40px;
  border: 2px solid #616161;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  padding-left: 20px;
  transition: .2s;
}

/* Estilos para las etiquetas de los campos */
.input-box > label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  pointer-events: none;
  font-size: 14px;
  transition: .2s;
  color: #616161;
}

/* Estilos para los iconos en los campos */
.input-box > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #616161;
}

/* Estilos para los elementos de la caja de ítems */
.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 12px;
  padding-inline: 10px;
}

/* Estilos para los enlaces sociales */
.social {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.social > a {
  width: 45px;
  height: 45px;
  background: #fbff03;
  text-decoration: none;
  margin: 0 5px;
  transition: .2s;
  border-radius: 50%;
  display: grid;
  align-items: center;
}
.btn button {
  width: 30%;
  background: #fbff00;
  padding: 5px 30px;
  border: 1px solid transparent;
  color:#000000;
  border-radius: 100vmax;
  cursor: pointer;
  transition: .2s;
  letter-spacing: 1px;
} 
.btn  :hover {
  border: #00b7ff;
  color:#00b7ff;
}
.other-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


/* Animaciones */
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Resto de los estilos... */

/*Medias responsive*/
@media (min-width: 768px){
 .main-header-top-bar {
   border: none;
   display: flex;
   justify-content: space-between;
  }
  .copy-header {
   max-width: 350px;
   text-align: right;
  }
  .hambuguer-button{
    display: none;
  }
  .main-navbar {
    border: none;
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0 5px;
  }
  .box-product {
    display: flex;
    flex-direction: row;
  }
  .box-login {
    position: relative;
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 50px 15px;
    width: 800px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    animation: show 1s;
  }
  .left-login {
    width: 50%;
    margin: auto;
 }
  .left-login > img {
    width: 100%;
    text-align: center;
    animation: slide 1s;
  }
  .form-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:auto;
    animation: slide 1.1s;
  }

  .form-login label {
    font-size: small;
  }

  .form-login > h2 {
    margin-bottom: 5px;
  }


  .btn button {
    width: 80%;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: .2s;
    font-size: 1rem;
    letter-spacing: 1px;
  } 

  

}
@media (min-width: 1200px) {
  .logo {
    width: 250px;
  }
  .main-header-top-bar, .main-navbar {
    max-width: 1200px;
    margin: auto;
  }
  .copy-header {
    max-width: none;
    font-size: 22px;
    font-weight: 400;
  }
  .main-navbar {
    margin-top: 50px;
  }
  .main-navbar li {
    margin: 0 10px;
  }
  .main-navbar a {
    font-size: 19px;
  }
  .box-login-conteiner {
    width: 800px;
    padding: 15px 15px;
  }
  .input-box > input {
    font-size: 0.8rem;
  }

 
}